@import '../../shared/colours/DefaultColors';

.search-box{
    padding: 10px;
    border-radius: 2rem;
    background-color: $SearchBoxBackground;
    display: flex;
    input{
        border: none;
        background-color: $SearchBoxBackground;
        width: 100%;
        color: $SeachIcon;
        border-right: 1px solid $SeachIcon;
        padding: 5px;
    }
    input:focus{
        outline:none;
    }
    button{
        border: none;
        background-color: none;
        cursor: pointer;
        padding-right: 10px;
        padding-left: 15px;
        i{
            color: $SeachIcon;
            font-size: 20px;
        }
    }
    button:hover{
        i{
            color: $SearchIconMouseHover;
        }
    }
}