@import '../../shared/colours/_DefaultColors.scss';

ul {
    &.navlist {
        list-style: none;
        padding-left:0;
        li {
            cursor: pointer;
            font-size:18px;
            font-weight:700;
            padding:8px;
            &:hover {
                background-color: $TikTokMenuHover
            }
        }
        i {
            margin-right: 10px;
        }
        .selected {
            color: $TikTokPink;
        }
    }
}

@media (min-width: 1000px) { 
    ul {
        &.navlist {
            li {
                padding: 0;
            }
        }
    }
}