@import '../../shared/colours/DefaultColors.scss';

div {
    &.side-navbar {
        position: relative;
        top:60px;
        .TikTok-Button {
            height: 48px;
            font-weight: 600;
        }
        .nav-container {
            width: 340px;
            height:100%;
            padding-top: 20px;
            overflow-y:auto;
            position: fixed;
        }
        span {
            &.nav-wrapper {
                display:block;
                width:100%;
                margin-top: 8px;
                border-bottom: 1px solid $TikTokWrapperGray;
            }
        }
        p {
            &:first-of-type {
                color: #16182380;
            }
        }
    }
}