@import '../../shared/colours/DefaultColors.scss';

div {
    &.side-navbar {
        position: relative;
        top:60px;
        .TikTok-Button {
            height: 48px;
            font-weight: 600;
        }
        .nav-container {
            width: 52px;
            height:100%;
            padding: 0 8px 0 8px;
            overflow-y:auto;
            overflow-x: hidden;
            position: fixed;
            background-color: white;
            z-index: 4999px;
            text-align: center;
            p, h2, h4, button,.user-info, .middle-section {
                display:none;
            }
            h2 {
                font-size: 18px;
            }
            p {
                &:first-of-type {
                    color: #16182380;
                }
            }
            .navlist {
                li {
                    width: 50px;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        span {
            &.nav-wrapper {
                display:block;
                width:100%;
                margin-top: 8px;
                border-bottom: 1px solid $TikTokWrapperGray;
            }
        }
    }
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
    div {
        &.side-navbar {
            .nav-container {
                width: 340px;
                text-align: initial;
                p, h2, h4, i, button, .user-info, .middle-section  {
                    display:block;
                }
                .navlist {
                    li { 
                        width:initial;
                        justify-content: unset;
                    }
                }
            }       
        }
    }
}
/* Larger than Desktop HD */
@media (min-width: 1200px) {}