div {
    .main-body {
        display:block;
        margin:0 auto;
        &.middle{
            max-width: 1100px;
            justify-content: space-between;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
        }
        .side-navbar{
            height: calc(100vh - 70px);
            overflow-y: scroll;
        }
    }
    
}