.post{
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    margin-right: 10px;
    margin-left: 10px;
    .TikTok-Button{
        position: absolute;
        width: 88px;
        height: 28px;
        top: 20px;
        right: 0;
        button{
            font-size: 14px;
            padding: 0;
        }
    }
    .profile-picture{
        img{
            border-radius: 100%;
            width: 56px;
            height: 56px;
            padding-right: 10px;
        }
    }
    .post-info{
        .post-username{
            display: flex;
            h1{
                margin: 0;
                font-size: 18px;
                padding-right: 5px;
            }
            p{
                font-size: 14px;
                margin: 0;
                margin-top: 3px;
            }
            i{
                margin-top: 4px;
                margin-right: 5px;
                color: rgb(15, 240, 228);
            }
        }
        p{
            margin: 0;
            margin-bottom: 10px;
            width: 100%;
        }
        .post-description{
            width: 450px;
        }
        .post-music{
            display: flex;
            padding-bottom: 10px;
            h2{
                margin: 0;
                font-size: 16px;
                font-family: proxima-semibold, Arial, Tahoma, PingFangSC, sans-serif;
                margin-left: 5px;
            }
        }
    }
}