$SearchBoxBackground: #F1F1F2;
$SeachIcon: #A6A7AC;
$SearchIconMouseHover: #8C8D91;
$TikTokPink: #fe2c55;
$TikTokBackground: #FFFFFF;
$TikTokLightPink: #FFF2F5;
$TikTokHoverFilled: #EF2950;
$TikTokMenuHover: rgba(22,24,35,0.03);
$TikTokPinkButtonHover: #fe2c550f;
$TikTokWrapperGray: #e2e3e4;
$BorderColor: #D2DEDE;


@font-face {
    font-family: "ProximaNova";
    src: url("../../fonts/ProximaNova.otf") format("opentype"),
}
