::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #CCCCCC;
    border-radius: 1rem;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #afafaf;
  }